---
import Base from "../layouts/base.astro";
import Home from "@/components/home.astro";
---

<Base title="Hammad Majid" description="Software dev">
	<main class="pt-4 px-6 space-y-6">
		<Home />
	</main>
</Base>
</Base>
