---
import Base from "../layouts/base.astro";
import Home from "@/components/home.astro";
import Projects from "@/components/projects.astro";
import Contact from "@/components/contact.astro";
---

<Base title="Hammad Majid" description="Polyglot developer procrastinating on side projects while majoring in computer science.">
    <main class="pt-4 px-6 space-y-6">
        <Home />
        <Projects />
        <Contact />
    </main>
</Base>
