---
import ContactForm from "./form";
import { TypographyH2 } from "./typography";
---

<section id="contact">
    <div class="mb-6">
        <TypographyH2>Contact</TypographyH2>
    </div>

    <div class="max-w-2xl">
        <p class="text-muted-foreground mb-6">
            Have a question or want to work together? Feel free to reach out!
        </p>

        <ContactForm client:load />
    </div>
</section>
