---
import ContactForm from "./form.astro";
import { TypographyH2, TypographyMuted } from "./typography";
---

<section id="contact" class="w-full">
    <TypographyH2>Contact</TypographyH2>

    <div class="w-full">
        <TypographyMuted class="text-muted-foreground mb-6">
            Have a question or want to work together? Feel free to reach out!
        </TypographyMuted>

        <ContactForm />
    </div>
</section>
